body,
		.product-filter .list-options select,
		.blog-article .post .box .box-heading {
			color: #232323;
		}
				
				a {
			color: #232323;
		}
				
				a:hover,
		div.pagination-results ul li.active {
			color: #cb2d41;
		}
		
		     		     
		     .product-info .radio-type-button span:hover,
		     .product-info .radio-type-button span.active,
		     .product-info .radio-type-button2 span:hover,
		     .product-info .radio-type-button2 span.active,
		     #main .mfilter-image ul li.mfilter-image-checked {
		          border-color: #cb2d41;
		     }
		     
		     .product-info .radio-type-button2 span.active {
		          background: #cb2d41;
		     }
				
				.compare-info .price-new, 
		.product-grid .product .price, 
		.product-list .actions > div .price,
		.product-info .price .price-new,
		ul.megamenu li .product .price,
		.mini-cart-total td:last-child,
		.cart-total table tr td:last-child,
		.mini-cart-info td.total,
		.advanced-grid-products .product .right .price,
		.product-list .name-actions > .price,
		.today-deals-products .product .price,
		.medic-last-in-stock .price,
		.architecture-products .product .right .price,
		.matrialarts-products .matrial-product .right .price,
		.today-deals-toys2-products .price,
		.today-deals-petshop2-products .price,
		.today-deals-shoes3-products .price,
		.today-deals-computer8-products .price,
		.today-deals-computer6-products .price,
		.holidays-products .product .right .price,
		.today-deals-computer6-products .countdown-section {
			color: #cb2d41;
		}
				
				.product-list .name-actions > .price .price-old,
		.product-grid .product .price .price-old,
		.today-deals-products .product .price .price-old,
		.architecture-products .product .right .price .price-old,
		.today-deals-toys2-products .price .price-old,
		.today-deals-petshop2-products .price .price-old,
		.today-deals-shoes3-products .price .price-old,
		.today-deals-computer8-products .price .price-old,
		.today-deals-computer6-products .price .price-old {
			color: #808080;
		}
				
				
				body,
		.standard-body .full-width #mfilter-content-container > span:before {
			background: #ffffff;
		}
				
				.product-grid .product:hover:before,
		.product-list > div:hover {
			border-color: #cb2d41;
		}
				
				
				
				
				.product-grid .product .only-hover ul li a:hover,
		.architecture-products .product .right .only-hover ul li a:hover,
		.product-list .name-actions ul li a:hover,
		.today-deals-toys2-products .only-hover ul li a:hover,
		.today-deals-petshop2-products .only-hover ul li a:hover,
		.flower-product .right ul li a:hover {
			background-color: #cb2d41;
		}
				
				.product-grid .product .only-hover ul li a:hover,
		.architecture-products .product .right .only-hover ul li a:hover,
		.product-list .name-actions ul li a:hover,
		.today-deals-toys2-products .only-hover ul li a:hover,
		.today-deals-petshop2-products .only-hover ul li a:hover,
		.flower-product .right ul li a:hover {
			border-color: #cb2d41;
		}
				
				.product-grid .product .only-hover ul li a:hover,
		.architecture-products .product .right .only-hover ul li a:hover,
		.product-list .name-actions ul li a:hover,
		.today-deals-toys2-products .only-hover ul li a:hover,
		.today-deals-petshop2-products .only-hover ul li a:hover,
		.flower-product .right ul li a:hover {
			color: #fff;
		}
				
				
				.dropdown-menu {
			color: #232323;
		}
				
				.dropdown-menu li a,
		.dropdown-menu .mini-cart-info a,
		.ui-autocomplete li a {
			color: #232323 !important;
		}
				
				.dropdown-menu li a:hover,
		.dropdown-menu .mini-cart-info a:hover,
		.ui-autocomplete li a:hover,
		.ui-autocomplete li a.ui-state-focus {
			color: #cb2d41 !important;
		}
				
				textarea, 
		input[type="text"], 
		input[type="password"], 
		input[type="datetime"], 
		input[type="datetime-local"], 
		input[type="date"], 
		input[type="month"], 
		input[type="time"], 
		input[type="week"], 
		input[type="number"], 
		input[type="email"], 
		input[type="url"], 
		input[type="search"], 
		input[type="tel"], 
		input[type="color"], 
		.uneditable-input {
			background: #fff;
		}
				
				textarea:focus,
		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="datetime"]:focus,
		input[type="datetime-local"]:focus,
		input[type="date"]:focus,
		input[type="month"]:focus,
		input[type="time"]:focus,
		input[type="week"]:focus,
		input[type="number"]:focus,
		input[type="email"]:focus,
		input[type="url"]:focus,
		input[type="search"]:focus,
		input[type="tel"]:focus,
		input[type="color"]:focus,
		.uneditable-input:focus {
			background: #fff;
		}
				
				textarea, 
		input[type="text"], 
		input[type="password"], 
		input[type="datetime"], 
		input[type="datetime-local"], 
		input[type="date"], 
		input[type="month"], 
		input[type="time"], 
		input[type="week"], 
		input[type="number"], 
		input[type="email"], 
		input[type="url"], 
		input[type="search"], 
		input[type="tel"], 
		input[type="color"], 
		.uneditable-input {
			border: 1px solid #e0e0e0;
		}
				
				textarea:focus,
		input[type="text"]:focus,
		input[type="password"]:focus,
		input[type="datetime"]:focus,
		input[type="datetime-local"]:focus,
		input[type="date"]:focus,
		input[type="month"]:focus,
		input[type="time"]:focus,
		input[type="week"]:focus,
		input[type="number"]:focus,
		input[type="email"]:focus,
		input[type="url"]:focus,
		input[type="search"]:focus,
		input[type="tel"]:focus,
		input[type="color"]:focus,
		.uneditable-input:focus {
			border: 1px solid #cb2d41;
		}
				
				textarea, 
		input[type="text"], 
		input[type="password"], 
		input[type="datetime"], 
		input[type="datetime-local"], 
		input[type="date"], 
		input[type="month"], 
		input[type="time"], 
		input[type="week"], 
		input[type="number"], 
		input[type="email"], 
		input[type="url"], 
		input[type="search"], 
		input[type="tel"], 
		input[type="color"], 
		.uneditable-input {
			color: #232323;
		}
		
		.mfilter-price-inputs input {
		     color: #232323 !important;
		}
				
				
				select {
			border-color: #e0e0e0;
		}
				
				
				.select:after,
		.product-filter .list-options .sort:after,
		.product-filter .list-options .limit:after {
			color: #cb2d41;
		}
				
				
				.product-filter,
		.product-list,
		.center-column .product-grid,
		.standard-body .full-width .center-column.content-with-background:before,
		.manufacturer-heading,
		.manufacturer-content,
		.center-column .tab-content,
		.body-other .standard-body .full-width .product-info:before,
		.product-info .cart,
		.box .box-content.products,
		.product-grid .product-hover .only-hover,
		html .mfp-iframe-scaler iframe,
		.quickview body,
		table.attribute tr, table.list tr, .wishlist-product table tr, .wishlist-info table tr, .compare-info tr, .checkout-product table tr, .table tr, .table,
		.spinner,
		img[src="../img/catalog/blank.gif"],
		#mfilter-content-container > span:before,
		.cart-info table tr,
		.center-column .panel-heading,
		.center-column .panel-body,
		.popup,
		.product-block,
		.review-list .text,
		.modal-content,
		.product-info .product-image,
		.product-page-type-2 .standard-body .full-width .overflow-thumbnails-carousel,
		.product-page-type-2 .standard-body .full-width .product-info .product-center:before,
		.main-fixed3 .main-content .background,
		.product-grid-type-2 .product-grid .product:hover:before,
		.product-grid-type-3 .product-grid .product:hover:before,
		.product-grid-type-5 .product-grid .product:hover:before,
		.tab-content,
		.news.v2  .media-body .bottom {
			background-color: none !important;
		}
		
		.review-list .text:after,
		#main .post .comments-list .text:after {
		     border-bottom-color: none;
		}
		
		.product-grid .product:before {
		     border-color: none;
		}
		
		     		     .product-filter,
		     .product-list,
		     .center-column .product-grid,
		     .standard-body .full-width .center-column.content-with-background:before,
		     .manufacturer-heading,
		     .manufacturer-content,
		     .center-column .tab-content,
		     .body-other .standard-body .full-width .product-info:before,
		     .product-info .cart,
		     .box .box-content.products,
		     .product-grid .product-hover .only-hover,
		     table.attribute tr, table.list tr, .wishlist-product table tr, .wishlist-info table tr, .compare-info tr, .checkout-product table tr, .table tr, .table,
		     .cart-info table tr,
		     .center-column .panel-heading,
		     .center-column .panel-body,
		     .product-block,
		     .review-list .text,
		     .product-info .product-image,
		     .product-page-type-2 .standard-body .full-width .overflow-thumbnails-carousel,
		     .product-page-type-2 .standard-body .full-width .product-info .product-center:before,
		     .main-fixed3 .main-content .background,
		     .product-grid-type-2 .product-grid .product:hover:before,
		     .product-grid-type-3 .product-grid .product:hover:before,
		     .product-grid-type-5 .product-grid .product:hover:before,
		     .tab-content {
		     	background: none !important;
		     }
		     
		     img[src="../img/catalog/blank.gif"],
		     #mfilter-content-container > span:before,
		     .popup,
		     .spinner,
		     html .mfp-iframe-scaler iframe,
		     .quickview body,
		     .modal-content,
		     .news.v2  .media-body .bottom {
		          background-color: #ffffff !important;
		     }
		     
		     .review-list .text:after,
		     #main .post .comments-list .text:after {
		          border-bottom-color: transparent;
		     }
		     
		     .product-grid .product:before {
		          border-color: transparent;
		     }
		     				
				table.attribute,
		table.list,
		.wishlist-product table,
		.wishlist-info table,
		.compare-info,
		.cart-info table,
		.checkout-product table,
		.table,
		table.attribute td,
		table.list td,
		.wishlist-product table td,
		.wishlist-info table td,
		.compare-info td,
		.cart-info table td,
		.checkout-product table td,
		.table td ,
		.manufacturer-list,
		.manufacturer-heading,
		.center-column .panel-body,
		.review-list .text,
		.product-info .cart,
		.product-info .cart .links,
		.product-info .cart .links a:last-child,
		.product-info .cart .minimum,
		.product-info .review,
		.border-width-1 .standard-body .full-width .col-md-12 .col-md-12.center-column .cart-info thead td:first-child:before,
		.cart-info table thead td,
		#main .center-column .panel-heading,
		.main-fixed .center-column .panel:last-child, .standard-body .full-width .center-column .panel:last-child, .standard-body .fixed .center-column .panel:last-child,
		.center-column .panel-body,
		.body-white.checkout-checkout .standard-body .full-width .center-column .panel:last-child,
		.manufacturer-content,
		.product-block,
		.modal-header,
		.product-info .thumbnails li img, .product-info .thumbnails-carousel img,
		.product-info .product-image,
		.box-type-15 .col-sm-12 .box.box-with-products .box-content,
		.box-type-15 .col-md-12 .box.box-with-products .box-content,
		.box-type-15 .col-sm-12 .filter-product .tab-content,
		.box-type-15 .col-md-12 .filter-product .tab-content,
		.body-white.module-faq .standard-body #main .full-width .center-column .faq-section:last-child .panel:last-child,
		.product-info .radio-type-button2 span,
		.product-info .radio-type-button span,
		#main .mfilter-image ul li,
		.news.v2  .media-body .bottom,
		.news.v2 .media-body .date-published,
		#main .post .comments-list .text,
		#main .posts .post .post-content,
		#main .post .date-published,
		#main .post .meta,
		#main .post .post-content,
		.category-wall ul li a,
		.more-link {
			border-color: rgba(0, 0, 0, 0.1);
		}
		
		.product-info .description,
		.category-list {
		     background: none;
		     border-bottom: 1px solid rgba(0, 0, 0, 0.1);
		}
		
		.product-info .options,
		.product-list {
		     background: none;
		     border-top: 1px solid rgba(0, 0, 0, 0.1);
		}
		
		.box-with-products .clear:before,
		.box-with-products .clear:after,
		.product-grid .product:before,
		.product-list > div:before,
		.product-list .name-actions:before,
		.product-list .desc:before,
		.center-column .product-grid:before,
		.center-column .product-grid:after,
		.product-grid > .row:before,
		.category-info:before,
		.refine_search_overflow:after,
		.tab-content:before,
		.tab-content:after,
		.product-filter .list-options .limit:before,
		.product-filter .list-options .sort:before,
		.product-filter .options .product-compare:before,
		.is-countdown .countdown-section:after {
		     background: rgba(0, 0, 0, 0.1);
		}
		
		.review-list .text:before,
		#main .post .comments-list .text:before {
			border-bottom-color: rgba(0, 0, 0, 0.1);
		}
		
		@media (max-width: 500px) {
		     .responsive #main .product-grid .row > div.col-xs-6 .product:after {
		          background: rgba(0, 0, 0, 0.1);
		     }
		}
		
		@media (max-width: 767px) {
		     .responsive .product-grid .row > div.col-xs-6 .product:after {
		          background: rgba(0, 0, 0, 0.1);
		     }
		}
				
				
				
				
				
				
				
				
				.box .box-heading,
		.product-block .title-block,
		.refine_search {
			color: #131313;
		}
				
				.box .box-heading,
		.product-block .title-block,
		.refine_search,
		.market-products-categories > ul > li > a {
			border-bottom-color: #cb2d41;
		}
				
				
				.col-sm-3 .box-no-advanced.box .box-content, .col-sm-4 .box-no-advanced.box .box-content, .col-md-3 .box-no-advanced.box .box-content, .col-md-4 .box-no-advanced.box .box-content {
			border-color: #cb2d41;
		}
		
		.col-sm-3 .box-no-advanced.box .box-heading, .col-sm-4 .box-no-advanced.box .box-heading, .col-md-3 .box-no-advanced.box .box-heading, .col-md-4 .box-no-advanced.box .box-heading {
		     border-color: #cb2d41;
		}
				
				#top > .background {
			background: #cb2d41;
		}
				
				
				.megamenu-background {
			border-bottom-color: none;
		}
		
		     		     .megamenu-background {
		          border-bottom: none;
		     }
		     				
				
				
				.top-bar .menu li a,
		.header-type-9 #top #header-center .menu li a,
		.header-type-17 #top #header-left .menu li a,
		.header-type-26 #top .menu li a {
			color: #fff;
		}
				
				.top-bar .menu li a:hover,
		.header-type-9 #top #header-center .menu li a:hover,
		.header-type-17 #top #header-left .menu li a:hover,
		.header-type-26 #top .menu li a:hover {
			color: rgba(255, 255, 255, 0.8);
		}
				
				#top .search_form input {
			background: none;
		}
				
				#top .search_form input:focus {
			background: none;
		}
				
				#top .search_form input {
			border: 1px solid rgba(255, 255, 255, 0.2);
		}
				
				#top .search_form input:focus {
			border: 1px solid rgba(255, 255, 255, 0.25);
		}
				
				#top .search_form input {
			color: #fff;
		}
		
		#top .search_form input::-webkit-input-placeholder { /* WebKit, Blink, Edge */
		    color:    #fff;
		}
		
		#top .search_form input:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
		   color:    #fff;
		   opacity:  1;
		}
		
		#top .search_form input::-moz-placeholder { /* Mozilla Firefox 19+ */
		   color:    #fff;
		   opacity:  1;
		}
		
		#top .search_form input:-ms-input-placeholder { /* Internet Explorer 10-11 */
		   color:    #fff;
		}
				
				.search_form .button-search, 
		.search_form .button-search2 {
			color: #fff;
		}
				
				#top .dropdown > a:after {
			color: #131313;
		}
				
				#top .dropdown > a {
			color: #fff;
		}
				
				#top .dropdown:hover > a {
			color: #fff;
		}
				
				#top .dropdown:hover > a:after {
			color: #fff;
		}
				
				#top .my-account {
			border-color: rgba(255, 255, 255, 0.2);
					}
				
				#top .my-account {
			background: none;
		}
				
				
				#top .my-account,
		.header-type-23 .dropdown i {
			color: #fff;
		}
				
				#top .my-account:hover {
			border-color: #fff;
		}
				
				#top .my-account:hover {
			background: #fff;
		}
				
				
				#top .my-account:hover,
		.header-type-23 .dropdown:hover i {
			color: #131313;
		}
				
				#top #cart_block .cart-heading .cart-icon,
		.cart-block-type-2 #top #cart_block .cart-heading,
		.cart-block-type-9 #top #cart_block .cart-heading,
		.cart-block-type-8 #top #cart_block .cart-heading,
		.cart-block-type-7 #top #cart_block .cart-heading,
		.cart-block-type-4 #top #cart_block .cart-heading,
		.cart-block-type-6 #top #cart_block .cart-heading,
		.cart-block-type-8 #top #cart_block .cart-heading p,
		.cart-block-type-4 #top #cart_block .cart-heading .cart-icon {
			border-color: rgba(255, 255, 255, 0.2);
		}
		
		     		     
				
				#top #cart_block .cart-heading .cart-icon,
		.cart-block-type-2 #top #cart_block .cart-heading,
		.cart-block-type-9 #top #cart_block .cart-heading,
		.cart-block-type-8 #top #cart_block .cart-heading,
		.cart-block-type-7 #top #cart_block .cart-heading,
		.cart-block-type-4 #top #cart_block .cart-heading {
			background: none;
		}
				
				
				#top #cart_block:hover .cart-heading .cart-icon,
		.cart-block-type-2 #top #cart_block:hover .cart-heading,
		.cart-block-type-9 #top #cart_block:hover .cart-heading,
		.cart-block-type-8 #top #cart_block:hover .cart-heading,
		.cart-block-type-7 #top #cart_block:hover .cart-heading,
		.cart-block-type-4 #top #cart_block:hover .cart-heading,
		.cart-block-type-6 #top #cart_block:hover .cart-heading,
		.cart-block-type-8 #top #cart_block:hover .cart-heading p,
		.cart-block-type-4 #top #cart_block:hover .cart-heading .cart-icon {
			border-color: #fff;
		}
		
		     				
				#top #cart_block:hover .cart-heading .cart-icon,
		.cart-block-type-2 #top #cart_block:hover .cart-heading,
		.cart-block-type-9 #top #cart_block:hover .cart-heading,
		.cart-block-type-8 #top #cart_block:hover .cart-heading,
		.cart-block-type-7 #top #cart_block:hover .cart-heading,
		.cart-block-type-4 #top #cart_block:hover .cart-heading {
			background: #fff;
		}
				
				
				#top #cart_block .cart-heading .cart-count {
			color: #131313;
		}
				
				#top #cart_block .cart-heading .cart-count {
			background-color: #fff;
		}
				
				
				#top #cart_block .cart-heading p {
			color: #fff;
		}
				
				#top #cart_block .cart-heading p:after {
			color: #fff;
		}
				
				#top #cart_block:hover .cart-heading .cart-count {
			color: #fff;
		}
				
				#top #cart_block:hover .cart-heading .cart-count {
			background-color: #000;
		}
				
				
				#top #cart_block:hover .cart-heading p {
			color: #fff;
		}
				
				#top #cart_block:hover .cart-heading p:after {
			color: #fff;
		}
				
				#main .mfilter-slider-slider .ui-slider-handle, #main #mfilter-price-slider .ui-slider-handle {
		     background: #cb2d41 !important;
		}
				
				#main .mfilter-slider-slider .ui-slider-range, #main #mfilter-price-slider .ui-slider-range {
		     background: #fd6d7f !important;
		}
				
				ul.megamenu > li.with-sub-menu > a strong:after {
			color: #3b3b3b;
		}
				
				ul.megamenu > li.with-sub-menu:hover > a strong:after {
			color: #cb2d41;
		}
				
				.megamenu-background {
			background-color: #fff;
		}
				
				
				ul.megamenu > li > a {
			color: #3b3b3b;
		}
				
				ul.megamenu > li:hover > a,
		ul.megamenu > li.active > a,
		ul.megamenu > li.home > a {
			color: #cb2d41;
		}
				
				
				
				
				#main .vertical .megamenuToogle-wrapper .container {
			color: #131313;
		}
				
				#main .vertical .megamenuToogle-wrapper .container:after {
			color: #131313;
		}
		
		.megamenu-type-15 .megamenu-background .vertical .megamenuToogle-wrapper .container:before,
		.megamenu-type-15 .megamenu-background .vertical .megamenuToogle-wrapper .container:after,
		.megamenu-type-15 .megamenu-background .vertical .megamenuToogle-wrapper:before {
		     background: #131313;
		}
		
		.megamenu-type-20 .megamenu-background .vertical .megamenuToogle-wrapper .container:before,
		.megamenu-type-20 .megamenu-background .vertical .megamenuToogle-wrapper .container:after,
		.megamenu-type-20 .megamenu-background .vertical .megamenuToogle-wrapper:before {
		     background: #131313;
		}
		
		.megamenu-type-28 .megamenu-background .vertical .megamenuToogle-wrapper .container:before,
		.megamenu-type-28 .megamenu-background .vertical .megamenuToogle-wrapper .container:after,
		.megamenu-type-28 .megamenu-background .vertical .megamenuToogle-wrapper:before {
		     background: #131313;
		}
		
		.megamenu-type-25 .megamenu-background .vertical .megamenuToogle-wrapper .container:before,
		.megamenu-type-25 .megamenu-background .vertical .megamenuToogle-wrapper .container:after,
		.megamenu-type-25 .megamenu-background .vertical .megamenuToogle-wrapper:before {
		     background: #131313;
		}
		
		.megamenu-type-18 .slideshow-modules .vertical .megamenuToogle-wrapper .container:before,
		.megamenu-type-18 .slideshow-modules .vertical .megamenuToogle-wrapper .container:after,
		.megamenu-type-18 .slideshow-modules .vertical .megamenuToogle-wrapper:before {
		     background: #131313;
		}
				
				#main .vertical .megamenuToogle-wrapper,
		.standard-body .full-width .megamenu-background .mega-menu-modules > div:first-child:before {
			background-color: #fff;
		}
		
		     @media (max-width: 991px) {
     		     .responsive .standard-body .full-width .megamenu-background .megaMenuToggle:before {
     		          background-color: #fff;
     		     }
		     }
				
				
				#main .vertical:hover .megamenuToogle-wrapper .container,
		.common-home.show-vertical-megamenu #main .megamenu-background .vertical .megamenuToogle-wrapper .container,
		body[class*="product-category-"].show-vertical-megamenu-category-page #main .megamenu-background .vertical .megamenuToogle-wrapper .container,
		.common-home.show-vertical-megamenu #main .slideshow-modules .vertical .megamenuToogle-wrapper .container {
			color: #131313;
		}
				
				#main .vertical:hover .megamenuToogle-wrapper .container:after,
		.common-home.show-vertical-megamenu #main .megamenu-background .vertical .megamenuToogle-wrapper .container:after,
		body[class*="product-category-"].show-vertical-megamenu-category-page #main .megamenu-background .vertical .megamenuToogle-wrapper .container:after {
			color: #131313;
		}
		
		.megamenu-type-15 .megamenu-background .vertical:hover .megamenuToogle-wrapper .container:before,
		.megamenu-type-15 .megamenu-background .vertical:hover .megamenuToogle-wrapper .container:after,
		.megamenu-type-15 .megamenu-background .vertical:hover .megamenuToogle-wrapper:before,
		.megamenu-type-18 .slideshow-modules .vertical:hover .megamenuToogle-wrapper .container:before,
		.megamenu-type-18 .slideshow-modules .vertical:hover .megamenuToogle-wrapper .container:after,
		.megamenu-type-18 .slideshow-modules .vertical:hover .megamenuToogle-wrapper:before,
		.megamenu-type-20 .slideshow-modules .vertical:hover .megamenuToogle-wrapper .container:before,
		.megamenu-type-20 .slideshow-modules .vertical:hover .megamenuToogle-wrapper .container:after,
		.megamenu-type-20 .slideshow-modules .vertical:hover .megamenuToogle-wrapper:before,
		.megamenu-type-28 .slideshow-modules .vertical:hover .megamenuToogle-wrapper .container:before,
		.megamenu-type-28 .slideshow-modules .vertical:hover .megamenuToogle-wrapper .container:after,
		.megamenu-type-28 .slideshow-modules .vertical:hover .megamenuToogle-wrapper:before,
		.megamenu-type-25 .slideshow-modules .vertical:hover .megamenuToogle-wrapper .container:before,
		.megamenu-type-25 .slideshow-modules .vertical:hover .megamenuToogle-wrapper .container:after,
		.megamenu-type-25 .slideshow-modules .vertical:hover .megamenuToogle-wrapper:before,
		.common-home.show-vertical-megamenu.megamenu-type-15 #main .megamenu-background .vertical .megamenuToogle-wrapper .container:before,
		.common-home.show-vertical-megamenu.megamenu-type-15 #main .megamenu-background .vertical .megamenuToogle-wrapper .container:after,
		.common-home.show-vertical-megamenu.megamenu-type-15 #main .megamenu-background .vertical .megamenuToogle-wrapper:before,
		.common-home.show-vertical-megamenu.megamenu-type-18 #main .megamenu-background .vertical .megamenuToogle-wrapper .container:before,
		.common-home.show-vertical-megamenu.megamenu-type-18 #main .megamenu-background .vertical .megamenuToogle-wrapper .container:after,
		.common-home.show-vertical-megamenu.megamenu-type-18 #main .megamenu-background .vertical .megamenuToogle-wrapper:before,
		.common-home.show-vertical-megamenu.megamenu-type-20 #main .megamenu-background .vertical .megamenuToogle-wrapper .container:before,
		.common-home.show-vertical-megamenu.megamenu-type-20 #main .megamenu-background .vertical .megamenuToogle-wrapper .container:after,
		.common-home.show-vertical-megamenu.megamenu-type-20 #main .megamenu-background .vertical .megamenuToogle-wrapper:before,
		.common-home.show-vertical-megamenu.megamenu-type-28 #main .megamenu-background .vertical .megamenuToogle-wrapper .container:before,
		.common-home.show-vertical-megamenu.megamenu-type-28 #main .megamenu-background .vertical .megamenuToogle-wrapper .container:after,
		.common-home.show-vertical-megamenu.megamenu-type-28 #main .megamenu-background .vertical .megamenuToogle-wrapper:before,
		.common-home.show-vertical-megamenu.megamenu-type-25 #main .megamenu-background .vertical .megamenuToogle-wrapper .container:before,
		.common-home.show-vertical-megamenu.megamenu-type-25 #main .megamenu-background .vertical .megamenuToogle-wrapper .container:after,
		.common-home.show-vertical-megamenu.megamenu-type-25 #main .megamenu-background .vertical .megamenuToogle-wrapper:before,
		body[class*="product-category-"].show-vertical-megamenu-category-page.megamenu-type-15 #main .megamenu-background .vertical .megamenuToogle-wrapper .container:before,
		body[class*="product-category-"].show-vertical-megamenu-category-page.megamenu-type-15 #main .megamenu-background .vertical .megamenuToogle-wrapper .container:after,
		body[class*="product-category-"].show-vertical-megamenu-category-page.megamenu-type-15 #main .megamenu-background .vertical .megamenuToogle-wrapper:before,
		body[class*="product-category-"].show-vertical-megamenu-category-page.megamenu-type-18 #main .megamenu-background .vertical .megamenuToogle-wrapper .container:before,
		body[class*="product-category-"].show-vertical-megamenu-category-page.megamenu-type-18 #main .megamenu-background .vertical .megamenuToogle-wrapper .container:after,
		body[class*="product-category-"].show-vertical-megamenu-category-page.megamenu-type-18 #main .megamenu-background .vertical .megamenuToogle-wrapper:before,
		body[class*="product-category-"].show-vertical-megamenu-category-page.megamenu-type-20 #main .megamenu-background .vertical .megamenuToogle-wrapper .container:before,
		body[class*="product-category-"].show-vertical-megamenu-category-page.megamenu-type-20 #main .megamenu-background .vertical .megamenuToogle-wrapper .container:after,
		body[class*="product-category-"].show-vertical-megamenu-category-page.megamenu-type-20 #main .megamenu-background .vertical .megamenuToogle-wrapper:before,
		body[class*="product-category-"].show-vertical-megamenu-category-page.megamenu-type-28 #main .megamenu-background .vertical .megamenuToogle-wrapper .container:before,
		body[class*="product-category-"].show-vertical-megamenu-category-page.megamenu-type-28 #main .megamenu-background .vertical .megamenuToogle-wrapper .container:after,
		body[class*="product-category-"].show-vertical-megamenu-category-page.megamenu-type-28 #main .megamenu-background .vertical .megamenuToogle-wrapper:before,
		body[class*="product-category-"].show-vertical-megamenu-category-page.megamenu-type-25 #main .megamenu-background .vertical .megamenuToogle-wrapper .container:before,
		body[class*="product-category-"].show-vertical-megamenu-category-page.megamenu-type-25 #main .megamenu-background .vertical .megamenuToogle-wrapper .container:after,
		body[class*="product-category-"].show-vertical-megamenu-category-page.megamenu-type-25 #main .megamenu-background .vertical .megamenuToogle-wrapper:before {
		     background: #131313;
		}
				
				#main .vertical:hover .megamenuToogle-wrapper,
		.common-home.show-vertical-megamenu #main .megamenu-background .vertical .megamenuToogle-wrapper,
		body[class*="product-category-"].show-vertical-megamenu-category-page #main .megamenu-background .vertical .megamenuToogle-wrapper,
		.common-home.show-vertical-megamenu #main .slideshow-modules .vertical .megamenuToogle-wrapper {
			background-color: #fff !important;
		}
				
				
				#main .vertical .megamenu-wrapper {
			background-color: #fff !important;
		}
				
				#main .vertical ul.megamenu > li {
			border-color: #e5e5e5;
		}
				
				#main .vertical .megamenu-wrapper {
			border: 1px solid #e5e5e5;
			border-top: none;
		}
				
				
				#main .vertical ul.megamenu > li > a {
			color: #131313;
		}
				
				#main .vertical ul.megamenu > li:hover > a,
		#main .vertical ul.megamenu > li.active > a {
			color: #cb2d41;
		}
				
				#main .vertical ul.megamenu > li:hover {
			background: #fff;
		}
				
				#main .vertical ul.megamenu > li.with-sub-menu > a:before,
		#main .vertical ul.megamenu > li.with-sub-menu > a:after {
			color: #000;
		}
				
				#main .vertical ul.megamenu > li.with-sub-menu:hover > a:before,
		#main .vertical ul.megamenu > li.with-sub-menu:hover > a:after {
			color: #cb2d41;
		}
				
				
				
				
				ul.megamenu li .sub-menu .content a:hover,
		ul.megamenu li .sub-menu .content .hover-menu .menu ul li:hover > a {
			color: #cb2d41;
		}
				
				ul.megamenu li .sub-menu .content .hover-menu a.with-submenu:before {
			color: #cb2d41;
		}
				
				
				
				ul.megamenu li .sub-menu .content .static-menu a.main-menu:hover {
			color: #cb2d41;
		}
				
				ul.megamenu li .sub-menu .content .static-menu a.main-menu:after {
			background: #cb2d41;
		}
				
				.megamenuToogle-wrapper {
			background-color: #fff;
		}
		
		     @media (max-width: 991px) {
		          .responsive .standard-body .full-width .megamenu-background .megaMenuToggle:before {
		               background-color: #fff;
		          }
		     }
				
				
				.megamenuToogle-wrapper .container {
			color: #131313;
		}
				
				.megamenuToogle-wrapper .container > div span {
			background: #131313;
		}
				
				.megamenuToogle-wrapper:hover,
		.active .megamenuToogle-wrapper {
			background-color: #cb2d41;
		}
				
				
				.megamenuToogle-wrapper:hover .container,
		.active .megamenuToogle-wrapper .container {
			color: #fff;
		}
				
				.megamenuToogle-wrapper:hover .container > div span,
		.active .megamenuToogle-wrapper .container > div span {
			background: #fff;
		}
				
				@media (max-width: 991px) {
     		.responsive .horizontal .megamenu-wrapper {
     			background: #fff !important;
     		}
		}
				
				
				@media (max-width: 991px) {
			.responsive .horizontal ul.megamenu > li > a {
				color: #131313 !important;
			}
		}
				
				@media (max-width: 991px) {
			.responsive .horizontal ul.megamenu > li:hover > a,
			.responsive .horizontal ul.megamenu > li.active > a {
				color: #cb2d41 !important;
			}
		}
				
				@media (max-width: 991px) {
			.responsive .horizontal ul.megamenu > li {
				border-top-color: #e5e5e5 !important;
			}
		}
				
				@media (max-width: 991px) {
			.responsive ul.megamenu > li:hover,
			.responsive ul.megamenu > li.active {
				background: #fff !important;
			}
		}
				
				@media (max-width: 991px) {
			.responsive ul.megamenu > li.with-sub-menu .open-menu,
			.responsive ul.megamenu > li.with-sub-menu .close-menu {
				color: #131313 !important;
			}
		}
				
				#main .breadcrumb .background {
			background: none;
		}
				
				
				
				
				.breadcrumb .container h1 {
			color: #131313;
		}
				
				.breadcrumb .container h1 {
			border-bottom-color: #cb2d41;
		}
				
				.breadcrumb ul,
		.breadcrumb ul a {
			color: #232323;
		}
				
				.breadcrumb ul a:hover {
			color: #cb2d41;
		}
				
				.next-product .right .price {
			color: #cb2d41;
		}
				
				
				
				.button-previous-next {
			color: #957f85;
		}
				
				.button-previous-next:hover {
			background: #957f85;
		}
				
				.button-previous-next:hover {
			border-color: #957f85;
		}
				
				.button-previous-next:hover {
			color: #fff;
		}
				
				#main .box-with-categories .box-content {
			background: #fff !important;
		}
				
				
				.box-with-categories .box-content {
			border: 1px solid #e5e5e5 !important;
			
						border-top: none !important;
					}
				
				.box-category > ul li {
			border-top-color: #e5e5e5;
		}
				
				#main .box-category ul li > a {
			color: #131313;
		}
				
				#main .box-category ul li > a:hover {
			color: #cb2d41;
		}
				
				#main .box-category ul li a.active {
			color: #cb2d41;
		}
				
				.box-category > ul li > a:hover, 
		.box-category > ul li:hover > a, 
		.box-category > ul li a.active {
			background: #fff;
		}
				
				#main .box-category ul li .head a {
			color: #131313;
		}
				
				.box-with-categories .box-heading {
			background: #cb2d41;
		}
				
				
				.box-with-categories .box-heading {
			color: #fff;
		}
				
				
				
				
				
				
				
				
				
				
				
				
				.box > .prev:hover, 
		.box > .next:hover,
		.product-info .thumbnails-carousel .owl-buttons .owl-prev:hover, 
		.product-info .thumbnails-carousel .owl-buttons .owl-next:hover,
		div.pagination-results ul li:hover,
		.tab-content .prev-button:hover,
		.tab-content .next-button:hover {
			background: #cb2d41;
		}
				
				
				.box > .prev:hover, 
		.box > .next:hover,
		.product-info .thumbnails-carousel .owl-buttons .owl-prev:hover, 
		.product-info .thumbnails-carousel .owl-buttons .owl-next:hover,
		div.pagination-results ul li:hover,
		.tab-content .prev-button:hover,
		.tab-content .next-button:hover {
			color: #fff;
		}
				
				.box > .prev:hover, 
		.box > .next:hover,
		.product-info .thumbnails-carousel .owl-buttons .owl-prev:hover, 
		.product-info .thumbnails-carousel .owl-buttons .owl-next:hover,
		div.pagination-results ul li:hover,
		.tab-content .prev-button:hover,
		.tab-content .next-button:hover {
			border-color: #cb2d41;
		}
				
				.filter-product .filter-tabs ul > li.active > a, .filter-product .filter-tabs ul > li.active > a:hover, .filter-product .filter-tabs ul > li.active > a:focus, .htabs a.selected, .htabs a:hover {
			color: #131313;
		}
				
				.htabs a.selected:before,
		.filter-product .filter-tabs ul > li.active > a:before {
			background: #cb2d41;
		}
				
				.filter-product .filter-tabs ul > li > a,
		.htabs a {
			color: #999999;
		}	
				.popup h4:after {
			background: #cb2d41;
		}
				
				body .popup-module .mfp-close {
			border-color: #cb2d41;
		}
				
				body .popup-module .mfp-close {
			color: #cb2d41;
		}
				
				body .popup-module .mfp-close:hover {
			background: #cb2d41;
		}
				
				body .popup-module .mfp-close:hover {
			border-color: #cb2d41;
		}
				
				body .popup-module .mfp-close:hover {
			color: #fff;
		}
				
				
				
				
				
				.camera_wrap .owl-controls .owl-buttons .owl-prev:hover, .camera_wrap .owl-controls .owl-buttons .owl-next:hover,
		#main .tp-leftarrow.default:hover,
		#main .tp-rightarrow.default:hover,
		#main .post .post-media .media-slider .owl-controls .owl-buttons .owl-prev:hover,
		#main .post .post-media .media-slider .owl-controls .owl-buttons .owl-next:hover {
			background: #cb2d41;
		}
				
				
				.camera_wrap .owl-controls .owl-buttons .owl-prev:hover:before, .camera_wrap .owl-controls .owl-buttons .owl-next:hover:before,
		#main .tp-leftarrow.default:hover:before,
		#main .tp-rightarrow.default:hover:before,
		#main .post .post-media .media-slider .owl-controls .owl-buttons .owl-prev:hover:before,
		#main .post .post-media .media-slider .owl-controls .owl-buttons .owl-next:hover:before {
			color: #fff;
		}
				
				.sale {
			background: #59454b;
		}
				.sale {
			color: #fff;
		}
				#main .new {
			background: #cb2d41;
		}
				#main .new {
			color: #fff;
		}
				.rating i.active {
			color: #cb2d41;
		}
				.button, .btn {
			color: #fff !important;
		}
				.button, .btn {
			background: #cb2d41 !important;
		}
				.button:hover, .btn:hover {
			color: #fff !important;
		}
				.button:hover, .btn:hover {
			background: #3b3b3b !important;
		}
				.buttons .left .button, .buttons .center .button, .btn-default, .input-group-btn .btn-primary {
			color: #fff !important;
		}
				
				.buttons .left .button, .buttons .center .button, .btn-default, .input-group-btn .btn-primary {
			background: #3b3b3b !important;
		}
				
				
				.buttons .left .button:hover, .buttons .center .button:hover, .btn-default:hover, .input-group-btn .btn-primary:hover {
			color: #fff !important;
		}
				
				
				.buttons .left .button:hover, .buttons .center .button:hover, .btn-default:hover, .input-group-btn .btn-primary:hover {
			background: #3b3b3b !important;
		}
				
				.footer .pattern,
		.footer .pattern a {
			color: #000000;
		}
				
				.footer .pattern a {
			color: #000000;
		}
				
				.footer .pattern a:hover {
			color: #cb2d41;
		}
				
				.footer h4 {
			color: #000000;
		}
				
				.footer h4 {
			border-bottom-color: #cb2d41;
		}
				
				.footer .background,
		.standard-body .footer .background,
		.copyright .background,
		.standard-body .copyright .background {
			background: #f8f8f8;
		}
				
				.footer .container > .row:before, 
		.footer .advanced-grid .container > div > .row:before,
		.footer .container > .row > div:before, 
		.footer .advanced-grid .container > div > .row > div:before,
		.footer-type-11 .footer .container > .row:nth-last-child(2) > div:before, 
		.footer-type-11 .footer .advanced-grid .container > div > .row:nth-last-child(2) > div:before,
		.footer-type-16 .footer .container > .row:nth-last-child(2) > div:before, 
		.footer-type-16 .footer .advanced-grid .container > div > .row:nth-last-child(2) > div:before,
		.footer-type-21 .footer .container > .row > div:last-child:after, 
		.footer-type-21 .footer .advanced-grid .container > div > .row > div:last-child:after {
			background: rgba(0, 0, 0, 0.1);
		}
		
		.footer-type-11 .footer .container > .row:nth-last-child(2), 
		.footer-type-11 .footer .advanced-grid .container > div > .row:nth-last-child(2),
		.footer-type-16 .footer .container > .row:nth-last-child(2), 
		.footer-type-16 .footer .advanced-grid .container > div > .row:nth-last-child(2) {
		     border-color: rgba(0, 0, 0, 0.1);
		}
				
				.footer-button {
			color: #fff !important;
		}
				
				.footer-button {
			background: #cb2d41;
		}
				
				
				.footer-button:hover {
			color: #fff !important;
		}
				
				.footer-button:hover {
			background: #3b3b3b;
		}
				
				
				#main .post .date-published,
		#main .news.v2 .media-body .bottom,
		.cosmetics-news .media .date-published,
		.medic-news .media .date-published,
		.wine-news .media .date-published,
		.cameras-news .media .date-published {
			color: #cb2d41;
		}
				
				#main .post .meta > li a {
			color: #cb2d41;
		}
				
				#main .post .meta > li a:hover {
			color: #131313;
		}
				
				#main .tagcloud a,
		#main .post .tags a,
		#main .news .media-body .tags a,
		#main .posts .post .tags a,
		.cosmetics-news .media .tags a,
		.cameras-news .media .tags a {
			color: #fff;
		}
				
				#main .tagcloud a,
		#main .post .tags a,
		#main .news .media-body .tags a,
		#main .posts .post .tags a,
		.cosmetics-news .media .tags a,
		.cameras-news .media .tags a {
			background: #cb2d41;
		}
				
				
				#main .tagcloud a:hover,
		#main .post .tags a:hover,
		#main .news .media-body .tags a:hover,
		#main .posts .post .tags a:hover,
		.cosmetics-news .media .tags a:hover,
		.cameras-news .media .tags a:hover {
			color: #fff;
		}
				
				#main .tagcloud a:hover,
		#main .post .tags a:hover,
		#main .news .media-body .tags a:hover,
		#main .posts .post .tags a:hover,
		.cosmetics-news .media .tags a:hover,
		.cameras-news .media .tags a:hover {
			background: #3b3b3b;
		}
				
				
				
				
				#main .posts .button-more,
		.wine-news .button-more {
			color: #cb2d41;
		}
				
				#main .posts .button-more:hover,
		.wine-news .button-more:hover {
			background: #cb2d41;
		}
				
				#main .posts .button-more:hover,
		.wine-news .button-more:hover {
			border-color: #cb2d41;
		}
				
				#main .posts .button-more:hover,
		.wine-news .button-more:hover {
			color: #fff;
		}
						
			body,
		textarea, input[type="text"], input[type="password"], input[type="datetime"], input[type="datetime-local"], input[type="date"], input[type="month"], input[type="time"], input[type="week"], input[type="number"], input[type="email"], input[type="url"], input[type="search"], input[type="tel"], input[type="color"], .uneditable-input, select {
			font-size: 13px;
			font-weight: 400 !important;
					}
		
		ul.megamenu .megamenu-label,
		#main .news .media-body h5,
		#main .posts .post .post-title {
		     		}
		
		@media (max-width: 767px) {
		     .responsive ul.megamenu li .sub-menu .content .hover-menu .menu ul li a,
		     .responsive ul.megamenu li .sub-menu .content .static-menu .menu ul li a {
		          		     }
		}
		     
				body.firefox-mac,
		body.firefox-mac input,
		body.firefox-mac select {
		     font-weight: 300 !important;
		}
				
				
				
				
				
		.center-column .panel-heading h4 {
		     		}
		
		.dropdown-menu,
		body .dropdown-menu > li > a,
		.top-bar .menu li a,
		#top .dropdown > a,
		.product-info .cart .add-to-cart p,
		.header-notice,
		.header-type-9 #top #header-center .menu li a,
		.welcome-text,
		.header-type-16 #top #header-left .menu li {
			font-size: 12px;
		}
		
				
		.product-filter .options .product-compare a,
		.product-info .cart .links a,
		.button-previous-next,
		.footer-button,
		.button-white-with-red-text,
		table.attribute thead td,
		table.list thead td,
		.wishlist-product table thead td,
		.wishlist-info table thead td,
		.compare-info thead td,
		.checkout-product table thead td,
		.table thead td,
		.cart-info table thead td,
		.manufacturer-heading,
		.center-column .panel-heading h4,
		ul.box-filter > li > span,
		.popup .form-contact .contact-label label,
		.categories-wall .category-wall .more-categories,
		.mfilter-heading,
		.product-info .options2 > div > label {
			font-size: 11px !important;
			
					}

		ul.megamenu li .sub-menu .content .static-menu a.main-menu {
			font-size: 20px;
			font-weight: 400 !important;
						
						
						line-height: 1.6;
					}
		
		ul.megamenu > li > a strong,
		.megamenuToogle-wrapper .container {
			font-size: 13px;
			font-weight: 500 !important;
						
					}
		
				.horizontal ul.megamenu > li > a,
		.megamenuToogle-wrapper .container {
		     line-height: 1.6;
		}
				
		.box .box-heading,
		.center-column h1, 
		.center-column h2, 
		.center-column h3, 
		.center-column h4, 
		.center-column h5, 
		.center-column h6,
		.products-carousel-overflow .box-heading,
		.htabs a,
		.product-info .options h2,
		h3,
		h4,
		h6,
		.product-block .title-block,
		.filter-product .filter-tabs ul > li > a,
		.popup h4,
		.product-info .product-name a,
		legend {
			font-size: 20px;
			font-weight: 400 !important;
						
					}
		
		.box-with-categories .box-heading,
		.vertical .megamenuToogle-wrapper .container {
			font-size: 13px;
			font-weight: 600 !important;
						
					}
		
				.box-with-categories .box-heading,
		.vertical .megamenuToogle-wrapper .container {
		     line-height: 1.6;
		}
				
		.box-category ul li > a,
		.vertical ul.megamenu > li > a strong {
			font-size: 13px;
			font-weight: 500 !important;
						
						
						line-height: 1.6;
					}
		
		     		
				.box-category ul li > a {
		     padding-top: 16px;
		}
				
		.sale,
		#main .new {
			font-size: 9px;
			font-weight: 600 !important;
						
						
						line-height: 1.6;
					}
		
		.footer h4,
		.custom-footer h4 {
			font-size: 20px;
			font-weight: 400 !important;
						
					}
		
		.breadcrumb .container h1 {
			font-size: 30px;
			font-weight: 400 !important;
						
					}
		
		.button,
		.btn,
		.footer-button {
			font-size: 11px !important; 
			font-weight: 600 !important;
						
						
						line-height: 1.6;
					}
		
				
				
				
		.product-grid .product .price,
		.advanced-grid-products .product .right .price,
		#top #cart_block .cart-heading p strong,
		.cart-total table tr td:last-child,
		.mini-cart-info td.total,
		.mini-cart-total td:last-child,
		.today-deals-products .product .price,
		.architecture-products .product .right .price,
		.matrialarts-products .matrial-product .right .price {
			font-size: 13px;
			font-weight: 600 !important;
		}
		
				
		.product-info .price .price-new {
			font-size: 50px;
			font-weight: 600 !important;
		}
		
		.product-list .name-actions > .price {
			font-size: 20px;
			font-weight: 600 !important;
		}
		
		.price-old,
		.today-deals-products .product .price .price-old,
		.architecture-products .product .right .price .price-old {
			font-size: 13px;
			font-weight: 600;
		}
				
	#slider .pattern { background-image:url(../img/catalog/computer6/bg-slider.png);background-position:top center;background-repeat:repeat !important;background-attachment:scroll !important; }
			
               	
		
		
		
		
		