@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 100;
  src: local('Yantramanav Thin'), local('Yantramanav-Thin'), url(http://fonts.gstatic.com/s/yantramanav/v4/flU-Rqu5zY00QEpyWJYWN5-QbeR5CA.ttf) format('truetype');
}
@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 300;
  src: local('Yantramanav Light'), local('Yantramanav-Light'), url(http://fonts.gstatic.com/s/yantramanav/v4/flUhRqu5zY00QEpyWJYWN59Yf_NeKBY.ttf) format('truetype');
}
@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 400;
  src: local('Yantramanav Regular'), local('Yantramanav-Regular'), url(http://fonts.gstatic.com/s/yantramanav/v4/flU8Rqu5zY00QEpyWJYWN5fzXeM.ttf) format('truetype');
}
@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 500;
  src: local('Yantramanav Medium'), local('Yantramanav-Medium'), url(http://fonts.gstatic.com/s/yantramanav/v4/flUhRqu5zY00QEpyWJYWN58AfvNeKBY.ttf) format('truetype');
}
@font-face {
  font-family: 'Yantramanav';
  font-style: normal;
  font-weight: 700;
  src: local('Yantramanav Bold'), local('Yantramanav-Bold'), url(http://fonts.gstatic.com/s/yantramanav/v4/flUhRqu5zY00QEpyWJYWN59IePNeKBY.ttf) format('truetype');
}
